<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>WA3I</title>

    <link rel="stylesheet" href="mainpage/css/swiper.min.css">
    <link rel="stylesheet" href="mainpage/css/bootstrap.min.css">
    <link rel="stylesheet" href="mainpage/css/font.css">
    <link rel="stylesheet" href="mainpage/css/style.css">


    <script src="mainpage/js/jquery-3.5.1.min.js"></script>
    <script src="mainpage/js/bootstrap.min.js"></script>
    <script src="mainpage/js/swiper.min.js"></script>
    <script src="mainpage/js/main.js"></script>


</head>

<body>

    <div class="wrap">
        <header class="header">
            <div class="logo_wrap">
                <a class="navbar-brand" href="/">
                    <img src="mainpage/images/logo.png" alt="">
                </a>
            </div>
            <ul class="menu">
                <li><a href="/">홈</a></li>
                <li><a href="/introduce">와이소개</a></li>
            </ul>
        </header>
        <section>
            <div class="contents">
                <div class="greeting font_j">
                    <p class="font_j">
                        안녕하세요!</p>
                    <p class="font_j">
                        저는 여러분의 서술형 평가를 돕는<br>
                        인공지능 와이선생님입니다.
                    </p>
                    <div class="img_wrap">
                        <img src="mainpage/images/visual.png" alt="">
                    </div>
                </div>
            </div>
            <div class="user_wrap">
                <div class="user_choose">
                    <p>사용자를 선택해주세요.</p>
                    <div class="user">
                        <a href="#">
                            <!--<img src="./resources/images/user_student.png" alt="">-->
                            <p class="font_j ">학생</p>
                            <p class="m-0 font_j"></p>
                        </a>
                    </div>
                    <div class="user">
                        <a href="/teachers/login">
                            <p class="font_j">선생님</p>
                            <p class="m-0 font_j"></p>
                            <!--<img src="./resources/images/user_teacher.png" alt="">-->
                        </a>
                    </div>
                    <!--<div class="user">
						<a href="">
							<img src="./resources/images/user_manager.png" alt="">
						</a>
					</div>-->
                    <div class="user banner_wrap">
                        <!-- <div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="javascript:void(0)">
										<img src="mainpage/images/banner1.png" alt="">
									</a>
								</div>
								<div class="swiper-slide">
									<a href="javascript:void(0)">
										<img src="mainpage/images/banner1.png" alt="">
									</a>
								</div>
								<div class="swiper-slide">
									<a href="javascript:void(0)">
										<img src="mainpage/images/banner1.png" alt="">
									</a>
								</div>
								<div class="swiper-slide">
									<a href="javascript:void(0)">
										<img src="mainpage/images/banner1.png" alt="">
									</a>
								</div>
							</div>
						</div> -->
                        <!-- <div class="button_wrap">
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-pause pause"></div>
							<div class="swiper-button-next"></div>
						</div> -->
                        <!-- Add Pagination -->
                        <div class="swiper-controls">
                            <div class="control-wrap">
                                <div class="swiper-pagination"></div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <p>© WA<sup>3</sup>I. All rights reserved.</p>
            <div class="footer_right d-flex ml-auto">
                <div class="banner_wrap">
                    <img src="mainpage/images/footer_banner.png" alt="">
                </div>
            </div>
    </div>
    </footer>
    </div>

</body>

</html>