<% if (session.teacher_id) { %>

<% include ./header %>

<link href="css/bigram_tree.css" rel="stylesheet">

<script src="js/d3.min.js"></script>

<section class="sub_section">
  <div class="container p-0">
    <div id="input-page">
      <div class="page-header sub">
        <h2>Bigram tree</h2>
        <p>
          분석하고자 하는 학생들의 응답을 '복사'한 뒤, 아래 입력 칸에 '붙여넣기' 해주세요.<br>
          응답의 수가 너무 적거나, 너무 많으면 트리가 생성되지 않을 수도 있습니다.<br>
        </p>
      </div>

      <div class="col-6 text-box">
        <textarea id="input-textarea" type="text" name="" placeholder="   학생들의 응답 텍스트를 복사하여 붙여 넣어주세요."
          style="width: 670px;"></textarea>
      </div>
      <div class="col-lg-3 btn-center d-flex justify-content-center">
        <button id="input-submitbutton" type="submit" class="w3-button w3-large w3-round w3-blue">Bigram Tree 결과
          보기</button>
      </div>
    </div>
    <!-- <div id="bigramtree" style="margin-top: 50px;">
      <div id="header">
        <div class="wrapper">
          <div id="back"><b><a href="bigram-tree">처음으로</a></b></div>
          <form id="form-source">
            <input type="text" id="source" placeholder="">
          </form>
          <form id="form">
            <input type="text" id="keyword" placeholder="Keyword…">
            <label for="reverse" style="font-size: small"><input id="reverse" type="checkbox"> 뒤집어 보기 </label>
          </form>
        </div>
      </div>
      <div id="instruction">
        중심 키워드로 설정하려면 Shift와 마우스 왼쪽 클릭을 동시에 하세요.
      </div>
      <div id="vis"></div>
      <div id="text"></div>
      <div id="heat"></div>
    </div> -->
  </div>
</section>

<script src="js/bigramtree.js"></script>

<% include ./footer %>

<% } else { %>

<script>
  alert('로그인을 하셔야 이용이 가능합니다. 먼저 로그인을 해주세요.');
  document.location.href = "login";
</script>

<% } %>