<footer class="footer sub">
    <p>© W<span style="letter-spacing: -1.5px">A<sup style="top:-1em">3</sup>I</span>. All rights reserved.
    </p>
    <div class="footer_right d-flex ml-auto">
        <div class="banner_wrap">
            <img src="mainpage/images/footer_banner.png" alt="">
        </div>
        <div class="logo_wrap">
            <img src="mainpage/images/footer_logo.png" alt="">
        </div>
    </div>
</footer>
</div>

<script src="js/teacher.js"></script>

</body>

</html>

