<% if (session.teacher_id) { %>
  
<% include ./header %>

<!-- {% block teacher_css %}

{% endblock %}

{% block head_class %} -->

<div class="wrap sub">
    
<!-- {% endblock %}

{% block content %} -->

<section class="teacher_section">
  <div class="d-flex align-items-center" style="width:1000px; height: 100%; margin: 0 auto">
    <div class="teacher_img text-center row col-12 d-flex align-items-center">
      <div class="arrow_box2 col-5 pr-5 mr-1">
        <p style="padding:0px 0px; text-align:center;">환영합니다. 선생님!<br>
          <!-- 인공지능 서술형 자동평가 WA<sup>3</sup>I의<br>
          소개 영상입니다.<br>
          문제 풀이 전 학습합시다.
          환영합니다. <br> -->
        </p>
      </div>
      <div class="imgWrap col-6">
        <img src="mainpage/images/img_basic_l.png" alt="" style="width: 70%">
      </div>
    </div>
  </div>
</section>

<!--<center>
				<iframe style="margin-top: 30px; margin-bottom: 30px;" width="800" height="400" src="https://www.youtube.com/embed/20h195JbXSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
				</iframe>
			</center>-->

<!-- <section class="teacher_section">
  <div class="teacher_img text-center"
    style="width: 632px; height: 345px; margin: 0 auto; background: url('/staticfiles/mainpage/images/teacher_img01_.png')no-repeat center center">

    <p style="padding:55px 50px; text-align:left;">{{ user.last_name }}{{ user.first_name }} 선생님 환영합니다. <br>
      WA<sup>3</sup>I 인공지능 서술형 자동평가를<br>
      이용해 주셔서 감사합니다.
    </p>
  </div>

  <button style="height: 181px;"></button>
</section> -->

<!-- <div class="icon_wrap text-center">
  
      <iframe style="margin-top: 30px;" width="800" height="400" src="https://www.youtube.com/embed/20h195JbXSQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
  
    </div> -->

<% include ./footer %>

<% } else { %>

  <script>
    alert('로그인을 하셔야 이용이 가능합니다. 먼저 로그인을 해주세요.');
    document.location.href = "login";
  </script>

<% } %>